

<!-- banner image and caption  -->
<div class="bg-clr">
    <div class="banner-img">
        <img src="../../../assets/doctor.jpg" class="img-responsive">
        <div class="banner-caption">
            <div class="b-tb ">
                <div class="b-tb-c">
                    <div class="container">
                        <div class="title">We Take Care Of Your <br> Healthy Health</div>
                        <p>Mimply dummy text of the printing typesetting ipsum dolor <br>onsecte dipiscing.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container ">
        <div class="pad20">
            <h3 class="text-center">All Departments </h3>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="box-pad">
                    <img src="../../../assets/deprt1.jpg" class="img-fluid">
                    <figcaption>Dental Care</figcaption>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="box-pad">
                    <img src="../../../assets/depart2.jpg" class="img-fluid">
                    <figcaption>Eye Care</figcaption>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="box-pad">
                    <img src="../../../assets/depart3.jpg" class="img-fluid">
                    <figcaption>Cardiology</figcaption>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="box-pad">
                    <img src="../../../assets/depart4.jpg" class="img-fluid">
                    <figcaption>Orthopedic</figcaption>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="box-pad">
                    <img src="../../../assets/depart5.jpg" class="img-fluid">
                    <figcaption>Pregnancy</figcaption>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="box-pad">
                    <img src="../../../assets/depart6.jpg" class="img-fluid">
                    <figcaption>Neurology</figcaption>
                </div>
            </div>
        </div>
    </div>
</div>